body{
    background-color: rgb(226, 214, 210);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 240px;
    height: 240px;
}
.container{
    display: flex;
     padding: 5px;
     height: 80vh;
     flex-wrap: wrap;
     justify-content: space-evenly;
    
}
.item{
    margin: 8px;
    border: 1px solid black;
}
.item:hover{
    border: 5px solid rgb(10, 20, 24);
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
h1{
    text-align: center; 
    padding: 10px; 
    margin: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
h1:hover{
    text-align: center;
    color: teal;
    font-size: 50px;
    font-weight: bolder;
    opacity: 0.7;
    text-shadow: 2px 2px;
}
