*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: bold;
    margin:10px;
}
.container{
    padding: 10px;
    background-color: burlywood;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.item{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(98, 98, 158);
    border: 1px solid black;
}
.header{
    grid-column:1/6;
    height: 70px;
}
.nav{
    grid-column:1/6 ;
    height: 70px;
}
.section{
    grid-column:1/4;
    height: 50px;
}
.article{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 50px;
}
.aside{
    grid-column: 4/6;
    grid-row:3/5;
}
.footer{
    grid-column: 1/ span 5;
    height: 70px;
}